@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a >This is the task managing app</a>.</p>
    <a asp-action="Login" >Login</a> |
</div>
